.main {
    margin-left: clamp(50px, 10cqw, 150px);
    margin-right: clamp(50px, 10cqw, 200px);
    color: #000000;
}
.button-edit svg, .button-delete svg {
    width: 30px;
    height: 30px;
    fill: #000000;
    stroke: #000000;
}

:is(.button-delete, .button-edit):hover svg {
    fill: #84D98A;
    stroke: #84D98A;
    transition: all .3s ease-in-out;
}

:is(.button-edit, .button-delete) {
    border: none;
    background: none;
}