@import "public.css";

header {
    height: 100%;
    max-height: 101px;
    width: 100cqw;
    background: linear-gradient(180deg, rgba(38, 38, 38, 0.2) 0%, rgba(132, 217, 138, 0.1) 87.45%), #3D7340;
    position: fixed;
    z-index: 100;
    display: flex;
    margin-bottom: 2%;
    top: 0;
    border: none;
    z-index: 1000;
    conteiner-type: size;
}

.logo {
    justify-self: left;
    position: relative;
    margin-left: 9cqw;
    top: 20%;
}

.logo-img {
    max-width: 80px;
    max-height: 64px;
}

.links{
    position: relative;
    top: 20%;
    font-weight: 500;
    display: flex;
    margin-left: 2cqw;
    justify-content: space-between;
    gap: 10px;
    justify-self: right;
}

.links *{
    color: white;
}

.links-img {
    max-width: 38px;
    max-height: 38px;
    top: 12%;
    margin-right: 5px;
}

.title {
    position: relative;
    margin: 121px 150px 20px 200px;
}

.title h1 {
    margin: 5px 50px;
    color: #3D7340BF;
}

.bottom-line {
    border-bottom: 1px solid black;
}

@media (max-width: 1500px) {
    .first {
        margin-left: 30vw;
    }
}
