.main {
    margin: 10cqh 10cqw;
    background-color: #000;
    width: 80vw;
    height: 100vh;
}

.col {
    width: fit-content;
    height: fit-content;
    display: grid;
    padding: 50px;
    container-type: size;
}

.col > * {
    margin-bottom: 2cqh;
}