<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ this }}</title>
    {% block stylesheet %}
    <link href="{{ asset('css/about.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/_header.css') }}" rel="stylesheet"/>
    {% endblock %}
</head>
<body>
<div class="wrapper montserrat">
    {{ block('header', '_header.html.twig') }}
    <div class="container about text-left darkText">
        <h1 class="about-header">
            TechLand
        </h1>
        <span class="about-body">
            <span>
            Компания TechLand была основана в 2023 году и с того времени ведёт свою образовательная деятельность.<br><br>
            Мы преследуем следующие цели:
            </span>
            <ul>
                <li>
                  Распространить как можно большему количеству людей знания о языке программирования PHP
                </li>
                <li>
                  Повысить образованность программистов
                </li>
            </ul>
            <br>
            Наша компания планирует развиваться в следующих направлениях:
            <ul>
                <li>
                  Расшириться в большее количество языков и затронуть как можно больший объём информации
                </li>
                <li>
                  Предоставить массам возможность понять программирование
                </li>
            </ul>
        </span>
        <br>
        <div class="bottom-line"></div>
        <h1 class="about-header">
            Контакты
        </h1>
        <span class="about-body">
           Номер телефона: +79999999999<br>
           Адрес электронной почты: techland.ru@work.com<br>
        </span>
        </div>
</div>
</body>
</html>