<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
    <title>Вход регистрация</title></head>
<body>
<div class="logo"><img src="{{ asset('img/logo.png') }}" class="logo-img img" alt=""></img></div>
<div class="login"><span class="title"></span>
    <form action="" method="post"><input type="text" name="username" placeholder="Логин" class="field text">
        <input type="hidden" name="type" value="">
        <input type="password" name="password" placeholder="Пароль" class="field text">
        <input type="submit" value="" class="field text">
    </form>
    <div class="bottom-title text">
        <a href="{{ path('auth') }}" class="link">
        </a>
    </div>
</div>
</body>
</html>