<!DOCTYPE html>
<html lang="">
<head>
    <meta charset='UTF-8'>
    <title>Тесты всё ок</title>
    <link href="{{ asset('css/_header.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/index-info.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/index-courses.css') }}" rel="stylesheet"/>
</head>
<body>
<div class="wrapper montserrat">
    {{ block('header', '_header.html.twig') }}
    <div class="info darkText">
        <span>
            Наша компания TechLand занимается предоставлением обучающего материала и обучению.<br><br>
            На нашем сайте вы всегда можете найти информацию по языку программирования PHP или же проверить свои знания на имеющихся на сайте тестах
        </span>
    </div>
    <div class="courses darkText">
        <div class="free">
            <h1>
                TechLand Base
            </h1>
            <div>
            <span>
                Вы получаете доступ к:
            </span>
                <ul>
                    <li>
                        Лекциям;
                    </li>
                    <li>
                        Тестам.
                    </li>
                </ul>
            </div>
            <span class="price">
                <br>Цена: 0.00 руб
            </span>
            <button>
                Получить
            </button>
        </div>
        <div class="with-price">
            <h1>
                TechLand Plus
            </h1>
            <div>
            <span>
                Вы получаете доступ к:
            </span>
                <ul>
                    <li>
                        Всё, что и в Base-версии;
                    </li>
                    <li>
                        Доступ к чату с помощником.
                    </li>
                </ul>
            </div>
            <span class="price">
                <br>Цена: 500.00 руб
            </span>
            <button>
                Купить
            </button>
        </div>
    </div>
</div>
</body>
</html>
